/* src/App.css */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
body {
  background-color: rgb(211, 237, 237);
  font-family: "Work Sans", sans-serif;
}
.app {
  text-align: center;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin: 5px 0;
  transition: background-color 0.3s ease;
  color: black;
  background-color: rgb(146, 192, 209);
}
li {
  transition: all 0.5s;
}
li:hover {
  transform: scaleX(1.1);
}
.completed {
  text-decoration: line-through;
  color: gray;
}

.todo-container {
  display: flex;
  flex-direction: column; /* Change to column for smaller screens */
}

.active-todos,
.completed-todos {
  flex: 1;
  padding: 10px;
  margin-top: 5px;
}

.completed-todos {
  margin-top: 20px; /* Add some space for better separation */
  padding: 10px;
}
.reset {
  font-size: 25px;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: none;
}
.reset:hover {
  background-color: white;
  color: rgb(233, 100, 100);
}
/* Media Queries */
@media (min-width: 768px) {
  .todo-container {
    flex-direction: row; /* Switch back to row layout for larger screens */
  }

  .completed-todos {
    margin-top: 0; /* Reset margin for larger screens */
    margin-left: 20px;
  }
}
